In [8]:
import pandas as pd

In [9]:
# Link to site whose tables you want to extract
one_piece = pd.read_html('https://en.wikipedia.org/wiki/List_of_One_Piece_episodes_(seasons_1%E2%80%938)')

print('There are', len(one_piece), 'tables')

There are 20 tables

In [10]:
print(one_piece[1])

   Season                                       Season title Episodes  \
   Season                                       Season title Episodes
0       1                                          East Blue       61
1       2                       Entering into the Grand Line       16
2       3           Introducing Chopper at the Winter Island       15
3       4              Arrival & Fierce Fighting in Alabasta       38
4       5  Dreams!, The Zenny Pirate Crew Sortie!, Beyond...       13
5       6             Sky Island ~ Skypiea & The Golden Bell       52
6       7  Escape! The Marine Fortress & The Foxy Pirate ...       33
7       8                                        Water Seven       35
8       9                                        Enies Lobby       73
9      10                                      Thriller Bark       45
10     11                                Sabaody Archipelago       26
11     12                                    Island of Women       14
12     13                                         Impel Down       35
13     14                                         Marineford       60
14     15                                     Fishman Island       62
15     16                                        Punk Hazard       50
16     17                                          Dressrosa      118
17     18                                                Zou       36
18     19                                  Whole Cake Island      109
19     20                                       Wano Country      197
20     21                                            Egghead       34

              Originally released
   Episodes.1      First released       Last released
0          61    October 20, 1999      March 14, 2001
1          16      March 21, 2001     August 19, 2001
2          15     August 26, 2001    December 9, 2001
3          38   December 16, 2001    October 27, 2002
4          13    November 3, 2002    February 2, 2003
5          52    February 9, 2003       June 13, 2004
6          33       June 20, 2004      March 27, 2005
7          35      April 17, 2005      April 30, 2006
8          73        May 21, 2006   December 23, 2007
9          45     January 6, 2008   December 14, 2008
10         26   December 21, 2008       June 28, 2009
11         14        July 5, 2009    October 11, 2009
12         35    October 18, 2009       June 20, 2010
13         60       June 27, 2010  September 25, 2011
14         62     October 2, 2011   December 23, 2012
15         50     January 6, 2013    January 12, 2014
16        118    January 19, 2014       June 19, 2016
17         36       June 26, 2016       April 2, 2017
18        109       April 9, 2017       June 30, 2019
19        197        July 7, 2019   December 17, 2023
20         34     January 7, 2024                 TBA

### 1. Read a CSV from a URL with Pandas

Target Website: https://www.football-data.co.uk/data.php

In [11]:
# reading csv from website
df_primier24 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2425/E0.csv')

In [12]:
# showing dataframe
df_primier24

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,E0,02/02/2025,14:00,Brentford,Tottenham,0,2,A,0,1,...,2.01,1.92,1.98,1.94,2.02,1.94,1.99,1.87,2.06,1.93
236,E0,02/02/2025,14:00,Man United,Crystal Palace,0,2,A,0,0,...,2.04,1.89,2.03,1.90,2.08,1.91,2.01,1.85,2.10,1.89
237,E0,02/02/2025,16:30,Arsenal,Man City,5,1,H,1,0,...,1.92,2.01,1.92,2.01,1.95,2.02,1.89,1.97,1.94,2.05
238,E0,03/02/2025,20:00,Chelsea,West Ham,2,1,H,0,1,...,1.95,1.95,1.96,1.94,1.99,1.97,1.94,1.91,2.04,1.95
239,E0,12/02/2025,19:30,Everton,Liverpool,2,2,D,1,1,...,1.84,2.06,1.87,2.07,1.89,2.09,1.84,2.02,1.90,2.08

In [13]:
# rename columns
df_primier24.rename(columns={
    'FTHG':'home_goals',
    'FTAG':'away_goals'
}, inplace=True)

df_primier24.head()

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10

### 2. Extract tables from PDFs

PDF: [PDF with Table](./assets/foo.pdf)

for this you need to install a library `camelot-py` using the following command -
    `pip install camelot-py`

In [14]:
import camelot

In [27]:
tables = camelot.read_pdf('./assets/foo.pdf', pages='1')
print(tables)

tables.export('./assets/foo.csv', f='csv', compress=True)
tables[0].to_csv('./assets/foo.csv')

<TableList n=1>